* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}



body, #desktop {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Empêche l'apparition de barres de défilement */
}

/* Conteneur des icônes (grille) */
#desktop {
    position: relative;
    width: 100%;
    height: 100vh;  /* Hauteur complète de la fenêtre */
    background-color: #f4f4f4;
    background-image: url('photo/fondecran.png');
    background-size: cover;  /* Prend tout l'écran sans déformer */
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;  /* Empêche le défilement si l'image est plus grande */
}



/* Vignette individuelle */
.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: none;
    transition: transform 0.2s ease-in-out;
    width: 120px;
    height: 200px;
}



/* Image à l'intérieur de la vignette */
.icon img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 150px;
    position: relative;
}

/* Texte à l'intérieur de la vignette */
.icon p {
    margin-top: 5px;
    color: #333;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    min-width: 150px;
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
}

/* Effet de survol de la vignette */
.icon:hover {
    transform: scale(1.05);
}

/* Image de survol */
.icon .hover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.1s ease-out;
}


.icon:hover .hover-image {
    display: block;  /* Afficher l'image lorsque la souris survole la vignette */
}

/* Taille de l'image de survol */
.icon .hover-image img {
    width: 100px;  /* Ajuste la taille de l'image de survol */
    height: auto;
    pointer-events: none;
}



.hidden {
    display: none;
}









/* Conteneur pour les vignettes Invariant */
#invariant-container {
    display: flex;          /* Aligne les éléments sur une seule ligne */
    gap: 10px;              /* Espace entre chaque image */
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Invariant individuel */
.Invariant {
    width: 100px;  /* Largeur de chaque vignette */
    height: auto;
    padding: 5px;
    display: inline-block;
    text-align: center;
    transition: transform 0.2s;
}

.Invariant img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.Invariant p {
    font-size: 12px;  
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}


.Invariant:hover {
    transform: scale(1.05); /* Effet zoom au survol */
}





/* Rectangle rayé */
#striped-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    border: 2px solid rgb(255, 64, 159);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(255, 64, 159);
    display: none;
    flex-direction: column;
    background-color: #f0f0f0;
    z-index: 9999;
    overflow: hidden;
    grid-template-columns: 400px 300px;
}



.playlist {
    flex: 1;
    background: white;
    background-size: 20px 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 64, 159);
}



.playlist:hover {
background: #ff95cc;
color: #f0f0f0;
}




/* Style pour le bouton de fermeture */
.close-btn {
    position: top;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    text-align: right;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    background: #ffb2da;
    border-bottom: 1px solid rgb(255, 64, 159);
}


.hidden {
    display: none; /* Assurer que la boîte est cachée */
}


.boite {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100%;
    background: none;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

   /* display: none;*/
}

.music-player {
    background: #ffffff; /* Change la couleur pour qu'elle soit visible */
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    display: block;
   
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #ff95cc;
    border: 2px solid #ffb2da;
}

.song-img{
    width: 220px;
    border-radius: 3px;
    border: 3px solid #ffb2da;
}


.music-player h1{
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 2px;
        color: #333;
    }

.music-player p{
    font-size: 16px;
    color: #333;
}


#progress{
   -webkit-appearance: none; 
   width: 100%;
   height: 6px;
   background: #ffc0e0;
   border-radius: 4px;
   cursor: pointer;
   margin-top: 20px;
   margin-bottom: 15px;

}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none; 
    background: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #ff95cc;

}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}

.controls div{
    width: 50px;
    height: 50px;
    margin: 30px;
    background: #ff95cc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}


.controls div:nth-child(2) {
    transform: scale(1.5);
    background: #ff95cc;
    color: #fff;
}


#corbeille {
    position: absolute;  /* Assure que la corbeille peut se déplacer */
    transition: left 1s ease, top 0.5s ease; /* Animation fluide pour le déplacement */
}


#logo {
    position: absolute;
    top: 50%;
    left: -150px;  /* Position initiale hors écran à gauche */
    animation: moveLogo 5s linear infinite, rotateLogo 5s linear infinite; /* Ajout de l'animation de rotation */
}

#logo img {
    width: 100px;  /* Ajuste la taille de ton logo */
    height: auto;
}

/* Animation de gauche à droite */
@keyframes moveLogoLeftToRight {
    0% {
        left: -90px; /* Départ hors écran à gauche */
    }
    100% {
        left: 100%; /* Arrivée hors écran à droite */
    }
}

/* Animation de droite à gauche */
@keyframes moveLogoRightToLeft {
    0% {
        left: 100%; /* Départ hors écran à droite */
    }
    100% {
        left: -90px; /* Arrivée hors écran à gauche */
    }
}

/* Animation de rotation du logo */
@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.modal {
    display: none;  /* Cacher les modals par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .modal p{
    color: red;
    font-size: 14px;
  }

  .modal h2{
    color: green;
    font-size: 22px;
  }

  .modal h1{
    color: #ff95cc;
    font-size: 16px;
  }

    


